.btn {
  border-radius: 8px;
  border: 1px thin #222;
  padding: 10px;
  display: flex;
  align-items: flex-start;
  font-family: "Inter";
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  /* color: var(--material-theme-source-seed); */
  color: #222;
  cursor: pointer;
}

.btn-primary {
  /* background-color: var(--material-theme-sys-light-surface-tint); */
  background-color: burlywood;
}

.btn-secondary {
  /* background-color: var(--material-theme-sys-light-secondary); */
  background-color: cadetblue;
}